{% extends 'base.html.twig' %}

{% block title %}Manifestation{% endblock %}
{% block javascripts %}
 {{ parent() }}
 {{ encore_entry_script_tags('search') }}
{% endblock %}
{% block body %}
    <section class="container">
        {% if cantVote is defined %}
            <div class="card p-3">
                <h5>Vous ne pouvez pas indiquer que vous manifestez pour le moment.</h5>
                <p>Revenez entre 8h et 18h59. <br/>Les résultats précédents sont disponibles.</p>
            </div>
            <a href="{{ path('index') }}" class="p-2 btn btn-cta w-100 mt-2 mb-2">Page d'accueil</a>
        {% endif %}
        {% if form is defined %}
            {{ form_start(form) }}
                <div class="card p-3">
                    {{ form_widget(form.city_name, {'attr': {'class': 'form-control w-100 ' ~ (error is defined ? 'is-invalid' : ''), 'autocomplete': 'off'}}) }}
                    {{ form_row(form._token) }}
                </div>
                <button type="submit" class="btn btn-cta w-100 mt-2 w-100">Enregistrer</button>
                {{ form_end(form) }}
        {% endif %}
        {% if vote is defined %}
            <div class="card p-3">
                <h2>Manifestation du {{ "now"|date("d/m/Y") }}</h2>
                <h4>Vous manifestez à {{ vote.city.name }}</h4>
                <p>Votre inscription a bien été prise en compte pour aujourd'hui.</p>
                <hr>
                <p>Au total {{ nb_sameplace }} personne(s) manifeste(nt) ici.</p>
            </div>
            <a href="{{ path('index') }}" class="p-2 btn btn-cta w-100 mt-2 mb-2">Page d'accueil</a>
        {% endif %}
    </section>
{% endblock %}