{% extends 'base.html.twig' %}

{% block title %}On est combien ?{% endblock %}

{% block body %}
    <section class="container">
        <div class="card p-3 mb-2">
            <h2>Manifestation du {{ ((resultLastDay)?"yesterday":"now") | date("d/m/Y") }}</h2>
            {% if not canVote %}
                <p>{{ ((resultLastDay)?"Hier":"Aujourd'hui") }} un total de {{ nbVotes }} personne(s) ont manifesté en France</p>
            {% endif %}
            <p style="font-size: 12px; font-style: italic">La prise en compte des votes fonctionne de 8h à 18h59.<br/>Les résultats par ville sont accessibles à partir de 19h.</p>
        </div>
        {% if not canVote %}
            <a href="{{ path('resultats') }}" class="card p-2 btn btn-cta w-100 btn-action mt-2 mb-2">Afficher le détail par ville</a>
        {% else %}
            <a href="{{ path('vote') }}" class="card p-2 btn btn-cta w-100 mt-2 mb-2">Je manifeste</a>
        {% endif %}
    </section>
{% endblock %}
