{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="container card p-3">
        <div class="accordion text-start" id="accordionMentionsLegales">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Comment ça marche ?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionMentions">
                    <div class="accordion-body">
                        Onestcombien.fr est une application permettant de compter anonymement et facilement le nombre de participants à un évènement.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Participer au projet
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionMentions">
                    <div class="accordion-body">
                        Ce projet Opensource est disponible ici: <a href="https://gitlab.com/RocketDev/onestcombien" target="_blank">GitLab</a>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Mentions légales
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMentions">
                    <div class="accordion-body">
                        Cette application est hébergée : <br/> SARL O2SWITCH, <br/> 224 bd gustave flaubert <br/> 63000 Clermont-Ferrand. <br/>Téléphone : 04 44 44 60 40. <br/>
                        <a href="https://www.o2switch.fr/" target="_blank">Site internet</a>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Gestion des cookies
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionMentions">
                    <div class="accordion-body">
                        Ce site utilise un cookie afin d’identifier un participant et son dernier lieu de manifestation.<br/>
                        Ce cookie a une durée de vie de 6 mois.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Gestions des données personnelles
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionMentions">
                    <div class="accordion-body">
                        L’utilisation de cette application ne nécessite aucun stockage ou traitement de donnée personnelle.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
