{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <section class="container">
        {% if not canVote %}
            <div class="card p-3">
                <div class="d-flex mb-3">
                    <a href="{{ path('index') }}" class="p-1 btn btn-cta w-100 mt-2 me-2">Retour accueil</a>
                    <a href="{{ path('resultats_export') }}" class="p-1 btn btn-success w-100 mt-2 ms-2">Télécharger</a>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Ville</th>
                            <th scope="col">Nombre de manifestant(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ville in results %}
                            <tr>
                                <td>{{ ville.name }}</td>
                                <td>{{ ville.nbManifestants}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card p-3">
                <h5>Les résultats ne sont pas encore disponibles pour aujourd'hui</h5>
                <a href="{{ path('index') }}" class="p-1 btn btn-cta w-100 mt-2">Retour accueil</a>
            </div>
        {% endif %}
    </section>
{% endblock %}