@import "~bootstrap/scss/bootstrap";
html,body {
  height: 100%;
}

$primary: #81AAFE;

body {
  a {
    text-decoration: none;
  }

  background-color: lightgray;

  .border-radius {
    border-radius: 5px;
  }

  .btn-cta {
    background: #6f75e5;
    color:white;

    &:hover {
      color: white;
    }
  }

  .background-primary {
    background: $primary;
  }

  .sf-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    //display: none !important;
  }

  .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .alert {
    position: fixed;
    right: 10px;
    bottom: 5px;
    width: 250px;
    z-index: 10;

    @media screen and (max-width: 450px) {
      width: 95%;
      margin:auto;
      right: initial;
    }
  }

  .twitter-typeahead {
    width: 100%;

    .tt-menu {
      width: 100%;
      border:1px solid;
      background:white;
      .result-search {
        padding:10px;
        &.tt-cursor {
          background: $primary;
          color:white;
        }
      }
    }
  }
}
