<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Onestcombien.fr est une application permettant de compter le nombre de participants à un évènement.">

        <title>{% block title %}On est combien ?{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="text-center d-flex flex-column justify-content-between">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
        <header class="card p-3 mb-2 background-primary">
            <a class="text-white" href="{{ path('index') }}">{{ 'Onestcombien.fr' | upper }}</a>
        </header>
        {% block body %}{% endblock %}
        <footer class="card p-3 mt-2 background-primary">
            <a class="text-white" href="{{ path('mentions') }}">{{ 'Mentions Légales' | upper }}</a>
        </footer>
    </body>
</html>
